<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- <form action="">
      이름 <input type="text" />
      <fieldset>
        <legend>성별</legend>
        <input type="radio" name="gender" value="male" />남자
        <input type="radio" name="gender" value="female" />여자
      </fieldset>

      <fieldset>
        <legend>생년월일</legend>
        <select>
          <% for(var i= 2010; i> 1960; i--) {%>
          <option value="<%=i %>"><%=i %></option>
          <% }%>
        </select>
        <select name="month">
          i
        </select>
      </fieldset>
    </form> -->

    <h1>실습 26</h1>
    <form action="/result26" method="get">
      <label for="username">이름</label>
      <input type="text" name="username" id="username" />
      <br />

      <fieldset>
        <legend>성별</legend>
        <!-- !!!! -->
        <input type="radio" name="gender" id="male" />
        <label for="male">남자</label>
        <input type="radio" name="gender" id="female" />
        <label for="female">여자</label>
      </fieldset>

      <fieldset>
        <legend>생년월일</legend>
        <select name="birthYear" id="year">
          <% for (let i = 1; i<13; i++) { %>
          <option value="<%= i%>"><%= i%></option>
          <% } %>
        </select>
      </fieldset>

      <fieldset>
        <legend>관심사</legend>
        <input type="checkout" name="hobby" id="travel" />
      </fieldset>
    </form>
  </body>
</html>
