body {
  background-color: cadetblue;
}
.chat-box {
  display: inline-block;
  width: auto;
  height: 30px;
}
.right {
  background-color: rgb(185, 185, 105);
  float: right;
}
.left {
  background-color: white;
}
.message {
  background-color: white;
  display: block;
  position: fixed;
}

.chatting {
  display: flex;
  background-color: white;
  position: fixed;
  bottom: 0px;
}
